*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#main{
    background-image: url(/images/img-2.png);
    /* background-position: contain; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
}
 .header-button{
    display: flex;
    justify-content: end;
    padding: 30px;
    margin-right: 20px;
 }
 .header-button input{
    padding: 10px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 20px;

 }
 .header-button input:hover{
    outline: none;
 }
 .header-logo{
    display: flex;
    justify-content: left;
    gap: 35%;
    margin: 0 50px;
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 70px;
    /* gap: 100px; */
 }
 .links{
    margin-top: 40px;
    align-items: center;
 }
.links a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
} 
.header-heading h1{
    font-size: 39px;
    padding-top: 30px;
    line-height: 45px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: white;
}
.header-heading{
    text-align: center;
}     
.header-heading button{
    padding: 14px 20px;
    border: none;
    background-color: #6FDBD4;
    color: black;
    border-radius: 20px;
    cursor: pointer;  
    margin-bottom: 35px;  
} 
.header-heading button:hover{
    background-color: #10ACA2;
}   
.header-bottom{
    display: flex;
    gap: 9px;
    padding-left: 15px;
}
.header-bottom p{
    font-size: 12px;
    color: white;
    font-weight: lighter;
}
.hero-heading{
    text-align: center;
    padding-top: 30px;
}

#herosection{
    padding: 30px 50px;
    background-color: rgb(54, 54, 54);
}
.hero-heading a{
    color: #1b8a83;
    text-decoration: none;
    margin-bottom: 9px;
}
.hero-heading h2{
    color: white;
}
.hero-one{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 15px;
}
.hero-left{
    width: 40%;
}
.hero-left h5{
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: white;
}
.hero-left p{
    font-size: 16px;
    font-weight: lighter;
    color: rgb(155, 155, 155);
    line-height: 21px;
}

.hero-right{
    width: 40%;
}
.hero-right h5{
    font-size: 17px;
    font-weight: bold;
    color: white;
    line-height: 24px;
}
.hero-right p{
    font-size: 16px;
    font-weight: lighter;
    line-height: 21px;
    color: rgb(148, 148, 148);
}
.hero-logos{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px;
    padding-top: 30px;
}
.hero-logos img{
    /* width: 80px; */
    height: 30px;
    cursor: pointer;
}
.hero-top{
    margin: 20px 0px 20px 70px;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: black;
}
.hero-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 32px;
}
.hero-bottom img{
    height: 500px;

}
.hero-bottom p{
    font-size: 22px;
    line-height: 30px;
}
#earn{
    display: flex;
}
.earn-left{
    background-color: rgb(34, 34, 34);
    padding: 40px;
}
.earn-left h2{
    font-size: 25px;
    font-weight: lighter;
    color: white;
    line-height: 32px;
}
.earn-left h5{
    color: white;
    font-size: 14px;
    line-height: 17px;
    color: gainsboro;
}

.earn-left h1{
    color: rgb(107, 107, 107);
    font-size: 22px;
    font-weight: lighter;
    line-height: 32px;
}
.earn-left p{
    font-size: 16px;
    line-height: 20px;
    color: rgb(107, 107, 107);
}
.earn-right{
    display: flex;
    background-color: rgb(219, 219, 219);
}
.earn-right-left{
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
}
.earn-right-right{
    flex-direction: column;
}
#compare{
    background-color: black;
    color: white;
}
.compare-heading{
    text-align: center;
    font-size: 38px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.sable{
    display: flex;
    justify-content: end;
    padding-right: 80px;
    padding-bottom: 20px;
    gap: 20px;
}
.sable p{
    color: #10ACA2;
    font-size: 17px;
}
.lines-potion{
    padding: 25px 80px;
}
.lines{
    display: flex;
    padding: 20px 0px;
}
.lines i{
    font-size: 20px;
}
.lines p{
    font-size: 18px;
    line-height: 22px;
}
.line-left{
    width: 60%;
}
.line-center{
    width: 25%;
}
.line-right{
    width: 15%;
}
.lines button{
    background-color: #6FDBD4;
    border-radius: 15px;
    color: black;
    padding: 12px;
    border: none;
}
.lines button:hover{
    background-color: #10ACA2;
}
.number-potion{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.numb{
    font-size: 30px;
    text-align: center;
    padding: 50px 0px 80px 0px;
}
.number-left h1{
    font-size: 51px;
    color: rgb(5, 110, 100);
    margin-bottom: 10px;
}
.number{
    width: 30%;
    display: flex;
    gap: 30px;
    background-color: rgb(70, 70, 70);
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}
#join{
    background-color: black;
    color: white;
    padding-bottom: 40px;
}
.join-potion{
    display: flex;
    margin: 0px 80px;
    height: 400px;
    gap: 30px;
    justify-content: center;
    background-image: url(images/img-18.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
    padding-bottom: 30px;
    border-radius: 20px;
}
.join-left h2{
    display: inline-block;
    font-size: 30px;
    line-height: 35px;
    font-weight: lighter;
}
.join-left h1{
    display: inline;
    font-size: 37px;
    line-height: 49px;
}
.join-right{
    display: flex;
    gap: 20px;
}
.join-right button{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    border: none;
    align-items: center;
    align-items: end;
}
.join-right i{
    font-size: 25px;
}
#footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    padding: 30px;
    gap: 25px;
}
#footer h2{
    font-size: 26px;
    font-weight: lighter;
    line-height: 30px;
}
#footer p{
    font-size: 15px;
    line-height: 25px;
    color: rgb(218, 216, 216);
}
#footer i{
    font-size: 25px;
}
/* .hr{
    padding: 30px;
} */
#last{
    background-color: black;
    color: white;
    padding: 100px;
}
#last p{
    font-size: 15px;
    line-height: 25px;
    color: rgb(173, 173, 173);
}
@media screen and (max-width : 890px) and (min-width : 700px){
    .header-logo{
        margin: 0px 25px;
        gap: 30%;
    }
    .links a{
        margin: 0px 10px;
    }
    .earn-right img{
        width: 180px;
        margin-right: 6px;
        height: 190px;
    }
    .hero-top img{
        width: 600px;
        height: 490px;
    }
    .compare-heading{
        font-size: 20px;
    }
    .line-left{
    width: 50%;
}
.line-center{
    padding-left: 15px;
    width: 25%;
}
.line-right{
    padding-left: 15px;
    width: 25%;
}
.line-left p{
    font-size: 16px;
}
}
@media screen and (max-width : 700px) and (min-width : 600px){
    .header-logo{
        margin: 0px 20px;
        gap: 20%;
    }
    .links a{
        margin: 0px 10px;
    }
    .earn-right{
        align-items: center;
    }
    .earn-right img{
        width: 120px;
        margin-right: 6px;
        height: 100px;
        margin-bottom: 15px;
    }
    .hero-top img{
        width: 500px;
        height: 450px;
    }
    .hero-bottom img{
        width: 300px;
        height: 290px;
    }
    .compare-heading{
        font-size: 18px;
    }

    .hero-one{
        gap: 80px;
        padding: 30px;
    }
    .line-left{
    width: 45%;
}

.line-center{
    padding-left: 15px;
    width: 30%;
}
.line-right{
    padding-left: 15px;
    width: 30%;
}
.lines-potion{
    padding: 15px 70px;
}
.lines button{
    padding: 6px;
    border: none;
}
.number{
    width: 40%;
    display: flex;
    gap: 10px;
}
.join-left{
    display: none;
}
#footer{
    padding: 20px;
}
.footer-one{
    width: 31%;
}
.footer-one p{
    font-size: 15px;
}
.footer-one h2{
    font-size: 22px;
}
.footer-one i{
    font-size: 14px;
}
#last{
    padding: 50px;
}
}
@media screen and (max-width : 600px) and (min-width : 450px){
     .header-logo{
        margin: 0px 20px;
        gap: 10%;
    }
    .links a{
        margin: 0px 10px;
    }
    #herosection{
        padding: 20px 10px;
        background-color: rgb(54, 54, 54);
    }
    .hero-logos{
        gap: 20px;
    }
    .hero-top img{
        width: 300px;
        height: 300px;
    }
    .hero-bottom img{
        width: 270px;
        height: 250px;
    }
    #earn{
        flex-direction: column;
    }
    .compare-heading{
        font-size: 14px;
    }
    .sable{
        display: none;
    }
    .lines-potion{
        padding: 15px 30px;
    }
    .lines button{
        display: none;
    }
    .number-potion{
        flex-direction: column;
        align-items: center;
    }
    .join-potion{
        margin: 0px 50px;
    }
    .number{
        width: 80%;
        display: flex;
        gap: 10px;
    }
    .join-left{
        display: none;
    }
    #footer{
        flex-direction: column;
    }
    #footer br{
        display: none;
    }

    #last{
        padding: 50px;
    }
}
@media screen and (max-width : 450px) and (min-width : 340px){
     .header-logo{
        margin: 0px 6px;
        gap: 5%;
    }
    #main{
        height: 550px;
    }
    .links a{
        margin: 0px 10px;
        font-size: 13px;
    }
    .hero-logos{
        gap: 10px;
    }
    .hero-top img{
        width: 250px;
        height: 240px;
    }
    .hero-bottom img{
        width: 230px;
        height: 230px;
    }
    .hero-heading h2{
        font-size: 22px;
    }
    #herosection{
    padding: 20px 20px;
}
.hero-heading h2{
    color: white;
}
.hero-left h5{
    font-size: 16px;
    line-height: 24px;
}
.hero-left p{
    font-size: 15px;
}
.hero-right h5{
    font-size: 16px;
}
.hero-right p{
    font-size: 15px;
}
.hero-logos{
    gap: 30px;
}
.hero-bottom p{
    font-size: 19px;
    line-height: 25px;
}
    #earn{
        flex-direction: column;
    }
    .earn-right img{
        width: 120px;
        margin-right: 6px;
        height: 120px;
        margin-bottom: 15px;
    }

.compare-heading{
        font-size: 14px;
    }
    .sable{
        display: none;
    }
    .lines-potion{
        padding: 15px 30px;
    }
    .lines button{
        display: none;
    }
    .number-potion{
        flex-direction: column;
        align-items: center;
    }
    .join-potion{
        margin: 0px 50px;
    }
    .number{
        width: 80%;
        display: flex;
        gap: 10px;
    }
    .join-left{
        display: none;
    }
    #footer{
        flex-direction: column;
    }
    #footer br{
        display: none;
    }

    #last{
        padding: 50px;
    }

}



@media screen and (max-width : 340px) and (min-width : 240px){
     .header-logo{
        margin: 0px 6px;
        gap: 5%;
    }
    #main{
        height: 500px;
    }
    .logo h1{
        font-size: 19px;
    }
    .links a{
        margin: 0px 5px;
        font-size: 10px;
    }
    .hero-logos{
        gap: 10px;
    }
    .header-bottom{
        gap: 20px;
    }
    .hero-top{
        border-radius: 10px;
    }
    .hero-top img{
        width: 250px;
        height: 240px;
    }
    .hero-bottom img{
        display: none;
    }
    .header-heading h1{
    font-size: 20px;
    padding-top: 20px;
    line-height: 30px;
    /* font-weight: bolder;
    margin-bottom: 20px;
    color: white; */
}
    .hero-heading h2{
        font-size: 22px;
    }
    #herosection{
    padding: 20px 20px;
}
.hero-heading h2{
    color: white;
    font-size: 20px;
}
.hero-one{
    flex-direction: column;
    padding: none;
    justify-content: center;
}
.hero-left h5{
    font-size: 16px;
    line-height: 24px;
}
.hero-left p{
    font-size: 15px;
}
.hero-right h5{
    font-size: 16px;
}
.hero-left{
    width: 85%;
    padding-bottom: 30px;
}
.hero-right{
    width: 85%;

}
.hero-right p{
    font-size: 15px;
}
.hero-logos{
    gap: 30px;
}
.hero-bottom p{
    font-size: 19px;
    line-height: 25px;
}
    #earn{
        flex-direction: column;
    }
    .earn-right img{
        width: 120px;
        margin-right: 6px;
        height: 120px;
        margin-bottom: 15px;
    }

.compare-heading{
        font-size: 14px;
    }
    .sable{
        display: none;
    }
    .lines-potion{
        padding: 15px 30px;
    }
    .lines button{
        display: none;
    }
    .number-potion{
        flex-direction: column;
        align-items: center;
    }
    .join-potion{
        margin: 0px 50px;
    }
    .number{
        width: 80%;
        display: flex;
        gap: 10px;
    }
    #footer{
        flex-direction: column;
    }
    #footer br{
        display: none;
    }

    #last{
        padding: 30px;
    }
    #join{
        display: none;
    }

    #footer h2{
    font-size: 21px;
    line-height: 25px;
}
#footer p{
    font-size: 13px;
    line-height: 20px;
}
#footer i{
    font-size: 18px;
}
}